<!DOCTYPE html>
<html lang="en">
<head>
    <title>ThomsonTest</title>
    <link href="ref/css/style.css" rel="stylesheet">
    <script src="ref/js/jquery.min.js"></script>
    <script src="../src/input.js"></script>
    <script src="../src/validate.js"></script>
    <script src="../src/parse.js"></script>
    <script src="../src/currency.js"></script>
</head>
<body>
<div id="styId">

    <h1 align="center">Sterling Coins</h1>
	<div class="inputtext" >
	    <label for="penip" class="pennie"><h2>Enter Amount of Pennies:</h2></label>
          <input class="inputclass" style="font-size:20px" id="penip" type="text"  placeholder="Enter a sterling amount...">
	</div>	  
          <div class="error" id="errorid"></div>
          <div class="result" id="resultid">
            <div class="resulthead" >
              <h2 class="resulttitle">Results:</h2>
            </div>
            <div class="resultbody" style="font-size:18px" id="resultb" ></div>
          </div>
</div>  
 </body>
</html>
